.navbar {
    border: none;
}
.evaux-header {
    .rows {
        margin-left: -15px;
        margin-right: -15px;
        position: relative;
    }
}
.navbar-header {
    position: absolute;
    width: 262px;
    height: 262px;
    background: url(../images/logo-bg.png) center center no-repeat;
    left: 113px;
}
.navbar-brand {
    position: absolute;
    top: 51px;
    left: 31px
}
.navbar-collapse {
    width: calc(100% - 375px);
    margin-left: 375px;
    position: relative;
}

.search-toggle {
    background: url(../images/search.png) center center no-repeat;
    margin-top: 45px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    float: right;
}
.evaux-search-form {
    display: none;
    clear: both;
    position: absolute;
    right: 15px;
    bottom: 1px;
    z-index: 99;
}

.navbar-toggle {
    border-color: #FFFFFF;
    margin-top: 20px;
    margin-right: 15px;
    .icon-bar {
        background: #FFFFFF;
    }
}
@media (max-width: 1199px) {
    .navbar-header {
        left: 20px;
    }
    .navbar-collapse {
        width: calc(100% - 272px);
        margin-left: 272px;
        position: relative;
    }
    .navbar-nav > li > a {
        padding: 20px 10px !important;
    }
}
@include md_tablet {
    .evaux-header {
        padding-top: 80px;
        position: relative;
    }
    .navbar-header {
        position: fixed;
        width: 100%;
        height: auto;
        left: auto;
        top: 32px;
        background-repeat: repeat-x !important;
        z-index: 99;
    }
    .navbar-brand {
        position: relative;
        top: auto;
        left: auto;
        img {
            max-height: 80px;
        }
    }
    .search-toggle {
        display: none;
    }
    .navbar-collapse {
        position: fixed;
        width: 100%;
        left: 15px;
        top: 112px;
        right: inherit;
        bottom: inherit;
        background: white;
        margin: 0;
        padding: 0;
    }
    .navbar-nav {
        width: 100%;
        padding: 0 !important;
        margin: 0;
    }
}
@media (max-width: 780px) {
    #wpadminbar {
        position: fixed
    }
    .navbar-header {
        top: 46px;
    }
    .navbar-collapse {
        top: 126px;
    }
}
@media (max-width: 767px) {
    .evaux-banner {
        min-height: 200px;
        background-size: cover;
        background-position: center;
        img {
            display: none;
        }
    }
}